target/*
!target/Dockerfile
!target/spring-petclinic-2.0.0.BUILD-SNAPSHOT.jar
.settings/*
.classpath
.project
.idea
*.iml
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
data/
terraform.tfstate*
.terraform/
